
.description p {
  text-align: center;
  font-size: 24px;
}

.description h1 {
  text-align: center;
}


.wrapper {
  background-color: white;
}

.content {

}
.description {
  margin: 10px;

}
.form {

}
