.container {
  // background-color: green;
}

.block {
  height: 203px;
  width: 165px;
  background-color: #555;
}

.card-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card_bike {
  height: 404px;
  width: 824px;
  background-size: cover;
}



