<div class="wrapper">
  <div class="content">
    <div class="description">
      <h1>Your bike status</h1>
      <p>You can update your post at all times</p>
    </div>
    <div class="update-form">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= render 'form', bike: @bike %>
            <%= link_to 'Back', bikes_path , class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



