<div class="wrapper">
  <div class="content">

    <div class="description">
      <h1>Post your bike</h1>
      <p>Rent your bike in one click</p>
    </div>

    <div class="form">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= render 'form', bike: @bike %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





