<div class="container">
  <div class="card_bike" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('https://cdn.gearpatrol.com/wp-content/uploads/2015/04/best-mountain-biking-trails-new-zealand-gear-patrol-lead-full-.jpg');">

  </div>
  <div class="block">
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  </div>

</div>




















<!--   <h1><%= @bike.name %></h1>
  <h3><%= @bike.description %></h3>

 -->
